<div class="content">
    <div class="column">
        <div id="login">

            <ul id="login-tabs" class="nav nav-tabs">
                <li class="active"><a href="#noe-login" data-toggle="tab">Nokia</a></li>
                <li class=""><a href="#external-login" data-toggle="tab">External</a></li>
            </ul>

            <div class="tab-content">
                <div id="noe-login" class="tab-pane active">
                    <iframe api-src="/login/noe" width="260px" height="220px" frameborder="0"></iframe>
                </div>
                <div id="external-login" class="tab-pane">
                    <iframe api-src="/login/external" width="260px" height="220px" frameborder="0"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>